@import "../../styles/variables";

.carousel {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s linear;
}

.carousel_buttons {
    height: 50px;
}

.carousel_buttons:hover {
    cursor: pointer;
    //height: 60px;
}

.carousel_description {
    align-self: flex-end;
    background-color: $secondary-dark-color;
    opacity: 0.9;
    color: white;
    font-size: 25px;
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    width: 50%;
    text-align: center;
}