.layout_div {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    "header"
    "content"
}

.layout_div header {
    background-color: rgb(17, 76, 96);
    grid-area: header;
    color: white;
}

.layout_div main {
    background-color: rgb(221, 224, 209);
    grid-area: content;
}
