.header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.header li {
    margin: 20px;
}

.header ul:last-child {
    align-self: flex-end;
}

.header a:hover {
    color: lightcoral;
}

.header a {
    color: white;
    text-decoration: none;
}