.sort_container {
    display: flex;
}

.radioBtn_container {
    margin-top: 10px;
}

.filters_section {
    display: flex;
    justify-content: flex-end;
}

.filters_sort {
    width: 150px;
    min-height: 200px;
    padding-top: 20px;
    align-content: flex-start;
}

.filters_container {
    min-height: 200px;
    padding: 20px;
    max-width: 1100px;
    min-width: 1100px;
}

.filter_inputLbl {
    width: 60px;
    padding-right: 5px;
}

.filter_tagLbl {
    width: 60px;
    padding-left: 5px;
    padding-top: 5px;
}

.filter_select {
    width: 230px;
}

.filters {
    padding: 5px;
    display: flex;
}

.filters ul {
    list-style: none;
    display: inline-flex;
}

.filters_label {
    display: flex;
    color: lightslategray;
    border-radius: 5px;
    align-items: center;
    font-size: 15px;
    margin: 2px;
    text-align: center;
    padding: 5px;
}

.filters_label_selected{
    display: flex;
    border-radius: 5px;
    background-color: orange;
    align-items: center;
    font-size: 15px;
    margin: 2px;
    text-align: center;
    padding: 5px;
}

.filters_genres {
    display: flex;
    border-radius: 5px;
    align-items: center;
    font-size: 15px;
    margin: 2px;
    text-align: center;
    padding: 5px;
    color: lightslategray;
}

.filters_genres:hover {
    background-color: orange;
    color: white;
}

.filters_genres_selected {
    display: flex;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    color: rgb(74, 73, 73);
    font-size: 15px;
    margin: 2px;
    text-align: center;
}

.filters_genres_selected:hover {
    background-color: orange;
    color: white;
}

.filters_background {
    background-color: rgba(244, 244, 244, 0.6);
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128, 0.6);
    margin-bottom: 30px;
}

.filters_buttons {
    display: flex;
    padding: 20px;
    min-height: 30px;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-start;
}

.filters_buttons:hover {
   cursor: pointer;
   color: gray;
}

.sort_label {
    margin-bottom: 10px;
}